.Clock__face{
padding: 5px;
background-color: grey;
color:yellow;
font-size: 40px;
border-radius: 5px;
width: 160px;
display: flex;
align-items: center;
justify-content: center;
margin-left: auto;
margin-right: auto;

    
}
.Button_onClock{
padding: 10px;
margin-left: auto;
margin-right: auto;
margin-bottom: 15px;

height: auto;
width: auto;
border-radius: 4px;
color: yellow;
background-color: gray;
font-size: 18px;

display: flex;
text-align: center;
justify-content: center;


}